.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("Login.jpg") fixed no-repeat;
    background-size: 100% 100%;
    margin: auto;
    image-rendering: -webkit-optimize-contrast;
}
.login-form {
    width: 240px;
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 100;
    border-radius: 18px;
}
.login-form h2 {
    font-size: 18px;
    font-weight: 400;
    color: #3d5245;
  }
.login-form input,
.login-form button {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 14px;
    color: #3d5245;
    pointer-events: auto;
}
.login-form button:focus,
.login-form input:focus {
  outline: 0;
}
.login-form button:hover {
    background-color: rgba(12, 80, 38, 0.67);
    cursor: pointer
  }