<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SysXiadanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.SysXiadan">
        <id column="id" property="id" />
        <result column="shopid" property="shopid" />
        <result column="xiadanname" property="xiadanname" />
        <result column="xiadanphone" property="xiadanphone" />
        <result column="xiadanmark" property="xiadanmark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shopid, xiadanname, xiadanphone, xiadanmark
    </sql>

</mapper>
